/PA/FX1_EX5/nbproject/private/
/PA/FX1_EX5/build/
/PA/FX1_EX5/dist/
/PA/FX2_EX1/nbproject/private/
/PA/FX2_EX2/nbproject/private/
/PA/FX3_EX2/nbproject/private/
/PA/FX2_EX1/build/
/PA/FX2_EX1/dist/
/PA/FX2_EX2/build/
/PA/FX3_EX2/build/
/PA/FX3_EX2/dist/
/PA/FX1_EX8/nbproject/private/
/PA/FX1_EX8/dist/
/PA/FX1_EX8/build/
/PA/FX3_EX2_Hash/nbproject/private/
/PA/FX3_EX2_Hash/build/
/PA/FX3_EX2_map/nbproject/private/
/PA/FX3_EX2_map/build/
/PA/FX3_EX2_map/dist/
/PA/FX4_EX2/nbproject/private/
/PA/FX3_EX4/nbproject/private/
/PA/FX3_EX4v2/nbproject/private/
/PA/FX3_EX7/nbproject/private/
/PA/FX4_EX3/nbproject/private/
/PA/FX4_EX3/dist/
/PA/FX4_EX3/build/
/PA/FX5_EX1/nbproject/private/
/PA/FX5_EX1/build/
/PA/FX6_EX1/nbproject/private/
/PA/FX9_EX1/nbproject/private/
/PA/FX9_EX1/build/
/PA/FX7_01/nbproject/private/
/PA/FX9_EX2/nbproject/private/
/PA/FX9_EX2/build/
/PD/aula_3_UDP_file/nbproject/private/
/PD/aula_udd_srv_echo/nbproject/private/
/PD/aula_udd_srv_echo/build/
/PD/aula_udd_srv_echo/dist/
/PD/aula_3_udp_file/nbproject/private/
/PD/aula_3_udp_file/build/
/PD/aula_3_udp_file/dist/
/PD/udp_file/nbproject/private/
/PD/udp_file/build/
/PD/udp_file/dist/
/PD/TCP_dayTime_cli/nbproject/private/
/PD/TCP_dayTime_cli/dist/
/PD/TCP_dayTime_cli/build/
/PD/TCP_daytime_serv/nbproject/private/
/PD/TCP_daytime_serv/dist/
/PD/TCP_daytime_serv/build/
/PD/TCP_file_cli/nbproject/private/
/PD/TCP_file_cli/build/
/PD/TCP_file_cli/dist/
/PD/TCP_File_Client/nbproject/private/
/PD/TCP_File_Server/nbproject/private/
/PD/TCP_SERIALIZE_CLIENT/nbproject/private/
/PD/UDP_SERIALIE_CLIENT/nbproject/private/
/PD/UDP_SERIALIE_CLIENT/build/
/PD/UDP_SERIALIE_CLIENT/dist/
/PD/UDP_SERIALIZE_SERVER/nbproject/private/
/PD/UDP_SERIALIZE_SERVER/dist/
/PD/UDP_SERIALIZE_SERVER/build/
/PD/TCP_SERIALIZE_SERVER/nbproject/private/
/PD/TCP_SERIALIZE_CLIENT/build/
/PD/TCP_SERIALIZE_CLIENT/dist/
/PD/TCP_SERIALIZE_CLASS/nbproject/private/
/PD/TCP_SERIALIZE_CLASS/build/
/PD/TCP_SERIALIZE_CLASS/dist/